

<ion-content >
<img src ="/assets/img.svg" alt="" style="position: absolute;" />
<div style="text-align: center; padding-bottom: 100px"> 
		<img src="/assets/logo1.png" alt="" style="width:50%; position: relative; padding-top: 10px;" />
</div>

	
	<ion-list>
	<div style="text-align: center"><ion-label style="color: orange">MASUK</ion-label></div>
	<ion-item>
	<ion-input type="text" placeholder="Email"></ion-input>
	</ion-item>

	<ion-item>
	<ion-input type="password" placeholder="Password"></ion-input>
	</ion-item>

	</ion-list>
	
	<div style="text-align: center"><ion-button color="warning">MASUK</ion-button></div>
	<ion-buttons>
		<ion-button color="warning" style="padding-right: 150px">
			Buat Akun
		</ion-button>
		<ion-button color="warning">
			Lupa Password
		</ion-button>
	</ion-buttons> 
	
	
	
</ion-content>
