<ion-header>
  <ion-toolbar color="warning">
  </ion-toolbar>
  <ion-toolbar color="warning">
  </ion-toolbar>
  <ion-toolbar color="warning">
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div style="text-align: center"><ion-label style="color: orange">MASUK</ion-label></div>
	<ion-list>
	  <ion-item>
		<ion-input type="text" placeholder="Email"></ion-input>
	  </ion-item>

	  <ion-item>
		<ion-input type="password" placeholder="Password"></ion-input>
	  </ion-item>

	</ion-list>
	
	<div style="text-align: center"><ion-button color="warning">MASUK</ion-button></div>
</ion-content>
