
<ion-content>
<img src="assets/img.svg" alt="" style="position: absolute;" />
<div style="text-align: center; padding-bottom: 100px">
	<img src="/assets/logo1.png" alt="" style="width: 50%; position: relative; padding-top: 10px;"/>
</div>
	
	<ion-list>
		<div style="text-align: center"><ion-label style="color: orange">RESET PASSWORD</ion-label></div>

	<ion-item>
	<ion-input type="text" placeholder="Email"></ion-input>
	</ion-item>
	</ion-list>
	
	<div style="text-align: center"><ion-button color="warning">RESET PASSWORD</ion-button></div>

</ion-content>