<ion-header>
    <ion-toolbar color="warning" style="text-align: center;">
        <ion-button (click)="kembali()" color="light" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 120%;"></ion-icon>
        </ion-button>
        <ion-label style="font-size: 120%; padding-top: 20px; text-align: center;">Makanan</ion-label>
        <ion-button color="light" fill="clear" slot="end" (click)="keranjang()">
            <ion-icon name="cart" style="font-size: 130%;"></ion-icon>
        </ion-button>
    </ion-toolbar>
    <ion-toolbar color="warning">
        <ion-searchbar (ionInput)="getItems($event)" placeholder="Cari jajanan yuk !!"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    
    <ion-item-divider sticky>
        <ion-label>MUGE Deals</ion-label>
    </ion-item-divider>

    <ion-slides pager>
        <ion-slide>
            <ion-card color="light">
                <img src="/assets/deals1.png" alt="" style="background: rgb(255, 196, 0);" />
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="light">
                <img src="/assets/deals2.png" alt="" style="background: rgb(255, 196, 0);" />
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="light">
                <img src="/assets/deals3.png" alt="" style="background: rgb(255, 196, 0);" />
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-item-divider sticky>
        <ion-label>Murah Meriah, Dibawah Rp. 5.000</ion-label>
    </ion-item-divider>

    <ion-list>
        <ion-item *ngFor="let deal of deals" (click)="bukajualan(deal.jualan_id,deal.nama_jualan,deal.desc_jualan,deal.harga_jualan)">
            <div class="foto">
                <img src="/assets/noimg.png" alt="" />
            </div>
            <ion-label>
                <h3>{{deal.nama_jualan}}</h3>
                <p>{{deal.desc_jualan}}</p>
                <h5>RP. {{deal.harga_jualan}}</h5>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-item-divider sticky>
        <ion-label>Menu Pilihan</ion-label>
    </ion-item-divider>

    <ion-list>
        <ion-item *ngFor="let jualan of jualans" (click)="bukajualan(jualan.jualan_id,jualan.nama_jualan,jualan.desc_jualan,jualan.harga_jualan)">
            <div class="foto">
                <img src="/assets/noimg.png" alt="" />
            </div>
            <ion-label>
                <h3>{{jualan.nama_jualan}}</h3>
                <p>{{jualan.desc_jualan}}</p>
                <h5>RP. {{jualan.harga_jualan}}</h5>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-item-divider sticky>
        <ion-label>Kategori</ion-label>
    </ion-item-divider>

    <ion-list lines="none">
        <ion-item>
            <div class="scroll-container">
                <div class="grid">
                    <img src="/assets/kat1.png" alt="" height="50" width="50" />
                    <ion-label style="padding-top: 10px;">
                        <p>Menu Sehat</p>
                    </ion-label>
                </div>
                <div class="grid">
                    <img src="/assets/kat2.png" alt="" height="50" width="50" />
                    <ion-label style="padding-top: 10px;">
                        <p>24 Jam</p>
                    </ion-label>
                </div>
                <div class="grid">
                    <img src="/assets/kat3.png" alt="" height="50" width="50" />
                    <ion-label style="padding-top: 10px;">
                        <p>Menu Baru</p>
                    </ion-label>
                </div>
                <div class="grid">
                    <img src="/assets/kat4.png" alt="" height="50" width="50" />
                    <ion-label style="padding-top: 10px;">
                        <p>Terdekat</p>
                    </ion-label>
                </div>
                <div class="grid">
                    <img src="/assets/kat5.png" alt="" height="50" width="50" />
                    <ion-label style="padding-top: 10px;">
                        <p>Terhits</p>
                    </ion-label>
                </div>
                <div class="grid">
                    <img src="/assets/kat6.png" alt="" height="50" width="50" />
                    <ion-label style="padding-top: 10px;">
                        <p>Menu Hemat</p>
                    </ion-label>
                </div>
                <div class="grid">
                    <img src="/assets/kat7.png" alt="" height="50" width="50" />
                    <ion-label style="padding-top: 10px;">
                        <p>Lihat Semua</p>
                    </ion-label>
                </div>
            </div>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll  (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>