<ion-header>
  <ion-toolbar color="warning" style="text-align: center;">
      <ion-button (click)="kembali()" color="light" fill="clear" slot="start">
          <ion-icon name="arrow-back" style="font-size: 120%;"></ion-icon>
      </ion-button>
      <ion-label style="font-size: 120%; padding-top: 20px; text-align: center;">Tarik Saldo</ion-label>
      <ion-button color="light" fill="clear" slot="end">
          <ion-icon name="cart" color="warning" style="font-size: 130%;"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
