<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Pesanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
	<ion-item>
	<ion-avatar>
		<img src="/assets/makanan5.png" alt=""/>
	</ion-avatar>
	<ion-label style="padding-left: 15px;">
		<h2>Sate Kecap Khas Madura</h2>
		<p>3x Sate Kecap Khas Madura </p>
	</ion-label>
    </ion-item>
	
	<ion-item>
	<ion-avatar>
		<img src="/assets/makanan6.png" alt=""/>
	</ion-avatar>
	<ion-label style="padding-left: 15px;">
		<h2>Bakso Goreng Leleh Keju</h2>
		<p>2x Bakso Goreng Leleh Keju </p>
	</ion-label>
	</ion-item>
	
	<ion-item>
	<ion-avatar>
		<img src="/assets/makanan4.png" alt=""/>
	</ion-avatar>
	<ion-label style="padding-left: 15px;">
		<h2>Batagor Bandung</h2>
		<p>4x Batagor Bandung </p>
	</ion-label>
	</ion-item>
	
	<ion-item>
	<ion-avatar>
		<img src="/assets/makanan1.png" alt=""/>
	</ion-avatar>
	<ion-label style="padding-left: 15px;">
		<h2>Bakso Kuah Bang Tarjo</h2>
		<p>2x Bakso Kuah Bang Tarjo</p>
	</ion-label>
	</ion-item>
</ion-list>
	

</ion-content>
