<ion-header>
    <ion-toolbar style="text-align: center;" color="warning">
        <ion-title>Pesanan</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-item-group *ngFor="let jualan of jualans">
        <ion-item-divider sticky>
            <ion-label>{{jualan.create_at}}</ion-label>
        </ion-item-divider>

        <ion-list>
            <ion-item-sliding>
                <ion-item>
                    <div class="foto">
                        <img src="/assets/noimg.png" alt="" />
                    </div>
                    <ion-label style="padding-left: 15px;">
                        <h2>{{jualan.nama_jualan}}</h2>
                        <p style="float: right;">{{jualan.status_jualan}}</p>
                        <p>Rp. {{jualan.harga_jualan}}</p>
                    </ion-label>
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="cancel(jualan.jualan_id)">Cancel</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ion-item-group>
    <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>