<ion-header>
  <ion-toolbar color="warning" style="text-align: center;">
    <ion-button (click)="kembali()" color="light" fill="clear" slot="start">
        <ion-icon name="arrow-back" style="font-size: 120%;"></ion-icon>
    </ion-button>
    <ion-label style="font-size: 120%; padding-top: 20px; text-align: center;">Keranjang Belanjaan</ion-label>
    <ion-button color="light" fill="clear" slot="end">
        <ion-icon name="cart" color="warning" style="font-size: 130%;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <div class="foto">
        <img src="/assets/noimg.png" alt="" />
      </div>
      <ion-label>
        <h3>Nama Makanan</h3>
        <p style="float: right;">RP. 12000</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-label>
      <h3 style="float: right; padding-right: 15px;">Total Harga : Rp. 12000</h3>
    </ion-label>
  </ion-toolbar>
  <ion-toolbar color="warning">
    <ion-button expand="full" size="large" color="warning">Bayar</ion-button>
  </ion-toolbar>
</ion-footer>
