<ion-content>
  <img src="/assets/img2.svg" alt="" width="100%" height="30%" style="position: absolute;" /> 
  <div style="text-align: center; position: relative;">
    <img src="/assets/logo1.png" alt="" style="width: 25%; padding-top: 10px;"/>
  </div>

  <ion-label style="text-align: center; position: relative; color: white; padding-top: 10px;">
    <p style="color: black; padding-top: 10px;">Saldo</p>
    <h1 style="font-size: 300%;">35.000</h1>
  </ion-label>

  <ion-card color="light">
    <ion-card-content>
      <ion-row>
        <div class="grid1" (click)="topup()" padding>
          <img src="/assets/top1.png" alt="" />
          <ion-label><h6>Topup</h6></ion-label>
        </div>
        <div class="grid1" padding>
          <img src="/assets/top2.png" alt="" />
          <ion-label><h6>Scan</h6></ion-label>
        </div>
        <div class="grid1" (click)="tarik()" padding>
          <img src="/assets/top3.png" alt="" />
          <ion-label><h6>Tarik</h6></ion-label>
        </div>
        <div class="grid1" padding>
          <img src="/assets/top4.png" alt="" />
          <ion-label><h6>History</h6></ion-label>
        </div>            
      </ion-row>
    </ion-card-content>
  </ion-card>

  <div style="text-align: center;">
    <ion-button color="warning" fill="outline" (click)="kembali()">KEMBALI</ion-button>
  </div>
</ion-content>
