<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
     CHAT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-avatar>
				<img src="/assets/avatar.png" alt=""/>
			</ion-avatar>
			<ion-label style="padding-left: 15px;">
				<h2> Sate Kecap Khas Madura</h2>
				<p> Bang satenya 20 ribu ya, pake lontong</p>
			</ion-label>
		</ion-item>
		
		<ion-item>
			<ion-avatar>
				<img src="/assets/avatar1.png" alt=""/>
			</ion-avatar>
			<ion-label style="padding-left: 15px;">
				<h2> Bakso Goreng Leleh Keju</h2>
				<p>Bang kejunya yang banyak ya</p>
			</ion-label>
		</ion-item>
		
		<ion-item>
			<ion-avatar>
				<img src="/assets/avatar2.png" alt=""/>
			</ion-avatar>
			<ion-label style="padding-left: 15px;">
				<h2>Batagor Bandung</h2>
				<p>Batagornya bakso aja semua, gak pake tahu ya pak</p>
			</ion-label>
		</ion-item>
		
		<ion-item>
			<ion-avatar>
				<img src="/assets/avatar3.png" alt=""/>
			</ion-avatar>
			<ion-label style="padding-left: 15px;">
				<h2> Bakso Kuah Bang Tarjo</h2>
				<p>Bang bakso sama kuahnya di pisah aja ya, 2 bungkus, sebentar lagi saya ambil</p>
			</ion-label>
		</ion-item>
		
	</ion-list>
</ion-content>
