<ion-header>
  <ion-toolbar color="warning" style="text-align: center;">
      <ion-button (click)="kembali()" color="light" fill="clear" slot="start">
          <ion-icon name="arrow-back" style="font-size: 120%;"></ion-icon>
      </ion-button>
      <ion-label style="font-size: 120%; padding-top: 20px; text-align: center;">Tambah Saldo</ion-label>
      <ion-button color="light" fill="clear" slot="end">
          <ion-icon name="cart" color="warning" style="font-size: 130%;"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item color="warning" lines="none" style="padding-bottom: 10px;">
    <ion-icon name="wallet" style="padding-right: 10px;"></ion-icon>
    <ion-label>MUGE PAY</ion-label>
    <div style="text-align: end;">
      <ion-label>Rp. 35.000,-</ion-label>
    </div>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button color="warning" expand="block" fill="outline">25.000</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="warning" expand="block" fill="outline">50.000</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="warning" expand="block" fill="outline">75.000</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="warning" expand="block" fill="outline">100.000</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="warning" expand="block" fill="outline">125.000</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="warning" expand="block" fill="outline">150.000</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
