<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <img src="/assets/img.svg" alt="" style="position: absolute;" /> 
  <div style="text-align: center;">
      <img src="/assets/logo1.png" alt="" style="width: 50%; position: relative; padding-top: 10px;"/>
  </div>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Pencarian"></ion-searchbar>
  
  <ion-card color="light">
    <ion-card-content>
      <ion-item color="warning" lines="none" style="padding-bottom: 10px;">
        <ion-icon name="wallet" style="padding-right: 10px;"></ion-icon>
        <ion-label>MUGE PAY</ion-label>
        <div style="text-align: end;" *ngFor="let saldo of saldos">
          <ion-label>{{saldo.user_saldo}}</ion-label>
        </div>
        
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button color="warning" expand="full">
            <ion-icon name="arrow-round-up" style="padding-right: 5px;"></ion-icon>
            <ion-label>TOP UP</ion-label>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="warning" expand="full">
            <ion-icon name="arrow-round-down" style="padding-right: 5px;"></ion-icon>
            <ion-label>TARIK</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  
  <ion-item-divider sticky>
    <ion-label>MUGE Service</ion-label>
  </ion-item-divider>
  
  <ion-list lines="none">
    <ion-item>
      <div class="scroll-container">
        <div class="grid1" (click)="makanan()">
          <img src="/assets/serv.png" alt="" height="45" width="45"/>
          <ion-label><h6>Makanan</h6></ion-label>
        </div>
        <div class="grid1" (click)="pakaian()">
          <img src="/assets/serv2.png" alt="" height="45" width="45"/>
          <ion-label><h6>Pakaian</h6></ion-label>
        </div>
        <div class="grid1" (click)="aksesoris()">
          <img src="/assets/serv1.png" alt="" height="45" width="45"/>
          <ion-label><h6>Aksesoris</h6></ion-label>
        </div>
        <div class="grid1" (click)="menu()">
          <img src="/assets/kat7.png" alt="" height="45" width="45"/>
          <ion-label><h6>Lainnya</h6></ion-label>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-item-divider sticky>
    <ion-label>Pedagang Favorit</ion-label>
  </ion-item-divider>

  <ion-list lines="none">
    <ion-item>
      <div class="scroll-container">
        <div class="grid">
          <img src="/assets/avatar.png" alt="" height="50px" width="50px" />
        </div>
        <div class="grid">
          <img src="/assets/avatar1.png" alt="" height="50px" width="50px" />
        </div>
        <div class="grid">
          <img src="/assets/avatar2.png" alt="" height="50px" width="50px" />
        </div>
        <div class="grid">
          <img src="/assets/avatar3.png" alt="" height="50px" width="50px" />
        </div>
        <div class="grid">
          <img src="/assets/avatar.png" alt="" height="50px" width="50px" />
        </div>
        <div class="grid">
          <img src="/assets/avatar1.png" alt="" height="50px" width="50px" />
        </div>
        <div class="grid">
          <img src="/assets/avatar.png" alt="" height="50px" width="50px" />
        </div>
        <div class="grid">
          <img src="/assets/avatar1.png" alt="" height="50px" width="50px" />
        </div>
        <div class="grid">
          <img src="/assets/avatar2.png" alt="" height="50px" width="50px" />
        </div>
        <div class="grid">
          <img src="/assets/avatar3.png" alt="" height="50px" width="50px" />
        </div>
        <div class="grid">
          <img src="/assets/avatar.png" alt="" height="50px" width="50px" />
        </div>
        <div class="grid">
          <img src="/assets/avatar1.png" alt="" height="50px" width="50px" />
        </div>
      </div>
    </ion-item>
    
  </ion-list>

  <ion-item-divider sticky>
    <ion-label>MUGE News</ion-label>
  </ion-item-divider>

  <ion-slides pager>

    <ion-slide>
      <ion-card color="light">
        <img src="/assets/logo1.png" alt="" style="background: rgb(255, 196, 0);"/>
        <ion-card-content>Versi terbaru 1.0 dari MUGE sudah rilis</ion-card-content>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card color="light">
        <img src="/assets/logo1.png" alt="" style="background: rgb(255, 196, 0);"/>
        <ion-card-content>Versi terbaru 1.1 dari MUGE sudah rilis</ion-card-content>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card color="light">
        <img src="/assets/logo1.png" alt="" style="background: rgb(255, 196, 0);"/>
        <ion-card-content>Versi terbaru 1.2 dari MUGE sudah rilis</ion-card-content>
      </ion-card>
    </ion-slide>
    
  </ion-slides>

  <ion-item-divider sticky>
    <ion-label>MUGE Promo</ion-label>
  </ion-item-divider>

  <ion-list>
    
  </ion-list>
  
  <ion-list>
    <h6 style="padding-left: 15px;">Coba Produk Terhits Disekitarmu !!</h6>
    <ion-item>
      <h5 style="padding-right: 10px;">1.</h5>
      <ion-avatar>
        <img src="/assets/makanan1.png" alt="" />
      </ion-avatar>
      <ion-label style="padding-left: 15px;">
        <h2>Bakso Kuah Bang Tarjo</h2>
        <p>Bakso keliling bang tarjo serba murah</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <h5 style="padding-right: 10px;">2.</h5>
      <ion-avatar>
        <img src="/assets/makanan2.png" alt="" />
      </ion-avatar>
      <ion-label style="padding-left: 15px;">
        <h2>Siomay Pedas Dahsyat</h2>
        <p>Siomay pedas dahsyat nya ready yaa</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <h5 style="padding-right: 10px;">3.</h5>
      <ion-avatar>
        <img src="/assets/makanan3.png" alt="" />
      </ion-avatar>
      <ion-label style="padding-left: 15px;">
        <h2>Siomay Kuah Kacang Khas Bandung</h2>
        <p>Melayani jasa antar pesanan</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <h5 style="padding-right: 10px;">4.</h5>
      <ion-avatar>
        <img src="/assets/makanan4.png" alt="" />
      </ion-avatar>
      <ion-label style="padding-left: 15px;">
        <h2>Batagor Bandung</h2>
        <p>Menerima pesanan untuk pesta/acara</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <h5 style="padding-right: 10px;">5.</h5>
      <ion-avatar>
        <img src="/assets/makanan5.png" alt="" />
      </ion-avatar>
      <ion-label style="padding-left: 15px;">
        <h2>Sate Kecap Khas Madura</h2>
        <p>Tersedia sate khas madura daging kambing dan ayam</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <h5 style="padding-right: 10px;">6.</h5>
      <ion-avatar>
        <img src="/assets/makanan6.png" alt="" />
      </ion-avatar>
      <ion-label style="padding-left: 15px;">
        <h2>Bakso Goreng Leleh Keju</h2>
        <p>Masih banyak varian rasa bakso</p>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll  (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
