<ion-header>
  <ion-toolbar color="warning" style="text-align: center;">
    <ion-button (click)="kembali()" color="light" fill="clear" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-label>MUGE Service</ion-label>
    <ion-button color="warning" fill="clear" slot="end">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <div class="grid" (click)="makanan()">
        <img src="/assets/serv.png" alt="" height="65" width="65"/>
        <ion-label><h6>Makanan</h6></ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid" (click)="pakaian()">
        <img src="/assets/serv2.png" alt="" height="65" width="65"/>
        <ion-label><h6>Pakaian</h6></ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid" (click)="aksesoris()">
        <img src="/assets/serv1.png" alt="" height="65" width="65"/>
        <ion-label><h6>Aksesoris</h6></ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="grid">
        <ion-label><h6 style="padding-top: 30px;">Coming Soon</h6></ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid">
        <ion-label><h6 style="padding-top: 30px;">Coming Soon</h6></ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid">
        <ion-label><h6 style="padding-top: 30px;">Coming Soon</h6></ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="grid">
        <ion-label><h6 style="padding-top: 30px;">Coming Soon</h6></ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid">
        <ion-label><h6 style="padding-top: 30px;">Coming Soon</h6></ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid">
        <ion-label><h6 style="padding-top: 30px;">Coming Soon</h6></ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="grid">
        <ion-label><h6 style="padding-top: 30px;">Coming Soon</h6></ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid">
        <ion-label><h6 style="padding-top: 30px;">Coming Soon</h6></ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid">
        <ion-label><h6 style="padding-top: 30px;">Coming Soon</h6></ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="grid">
        <ion-label><h6 style="padding-top: 30px;">Coming Soon</h6></ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid">
        <ion-label><h6 style="padding-top: 30px;">Coming Soon</h6></ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid">
        <ion-label><h6 style="padding-top: 30px;">Coming Soon</h6></ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
