<ion-header>
  <ion-toolbar color="warning">
  		<ion-buttons>
  			<ion-button (click)="kembali()">
  				<ion-icon style="padding-right: 5px" name="arrow-round-back" color="dark"></ion-icon>
			</ion-button>
				<ion-label style="padding-left: 60px;" color="dark">Shopping Cart</ion-label>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item-divider>
	<p style=" color: black; padding-top: 5px; padding-left: 110px"><b>Pesanan</b></p>
</ion-item-divider>

	<div style="padding-bottom: 10px">
			<p style="padding-left: 5px;"></p>
			<ion-avatar item-start style="position: relative; float: left; padding-left: 5px;">
				<img class="gambar" src="./assets/popice.jpg">
			</ion-avatar>
		<div style="position: relative; padding-top: 5px; padding-left: 70px">
    		<ion-label>
    		<b><p>Pop Ice Permen Karet<ion-buttons style="position: relative; float: right;">
 				<ion-button>
    				<ion-icon style="font-size: 170%" name="trash" color="dark"></ion-icon>
  				</ion-button>
			</ion-buttons></p></b>
    		<div>
    			<p style="color: red">Rp. 5000,-</p><p style="font-size: 12px;">Jumlah 1<ion-buttons style="position: relative; float: right;">
    				<ion-button><ion-icon name="arrow-dropleft-circle"></ion-icon></ion-button><div style="padding-right: 5px; width: 30px;"><ion-input type="number"></ion-input></div><ion-button><ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
    			</ion-buttons></p>
    		</div>
    		</ion-label>
		</div>
		<br><div style="text-align: right;">
  			<ion-button style= "padding-right: 2px; padding-top: 5px; height: 30px; width: 70px;" color="warning">
  				<ion-label color="dark">Detail</ion-label></ion-button>

  				<ion-button style="padding-left: 2px; padding-right: 12px; padding-top: 5px; height: 30px; width: 85px;" color="warning">
				<ion-label color="dark">Bayar</ion-label></ion-button>
	
	<ion-item-divider>
	</ion-item-divider>

		</div>
	</div>
	

	<div style="padding-bottom: 10px">
			<p style="padding-left: 5px;"></p>
			<ion-avatar item-start style="position: relative; float: left; padding-left: 5px;">
				<img class="gambar" src="./assets/martabak.jpg">
			</ion-avatar>
		<div style="position: relative; padding-top: 5px; padding-left: 70px">
    		<ion-label>
    		<b><p>Martabak Mesir Bang Kumis<ion-buttons style="position: relative; float: right;">
 				<ion-button>
    				<ion-icon style="font-size: 170%" name="trash" color="dark"></ion-icon>
  				</ion-button>
			</ion-buttons></p></b>
    		<div>
    			<p style="color: red">Rp. 25.000,-</p><p style="font-size: 12px;">Jumlah 1<ion-buttons style="position: relative; float: right;">
    				<ion-button><ion-icon name="arrow-dropleft-circle"></ion-icon></ion-button><div style="padding-right: 5px; width: 30px;"><ion-input type="number"></ion-input></div><ion-button><ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
    			</ion-buttons></p>
    		</div>
    		</ion-label>
		</div>
		<br><div style="text-align: right;">
  			<ion-button style= "padding-right: 2px; padding-top: 5px; height: 30px; width: 70px;" color="warning">
  				<ion-label color="dark">Detail</ion-label></ion-button>

  				<ion-button style="padding-left: 2px; padding-right: 12px; padding-top: 5px; height: 30px; width: 85px;" color="warning">
				<ion-label color="dark">Bayar</ion-label></ion-button>
		
		<ion-item-divider>
		</ion-item-divider>
		
		</div>
	</div>

	
	<div style="padding-bottom: 10px">
			<p style="padding-left: 5px;"></p>
			<ion-avatar item-start style="position: relative; float: left; padding-left: 5px;">
				<img class="gambar" src="./assets/nasgor.jpg">
			</ion-avatar>
		<div style="position: relative; padding-top: 5px; padding-left: 70px">
    		<ion-label>
    		<b><p>Nasi Goreng Jakarta<ion-buttons style="position: relative; float: right;">
 				<ion-button>
    				<ion-icon style="font-size: 170%" name="trash" color="dark"></ion-icon>
  				</ion-button>
			</ion-buttons></p></b>
    		<div>
    			<p style="color: red">Rp. 10.000,-</p><p style="font-size: 12px;">Jumlah 1<ion-buttons style="position: relative; float: right;">
    				<ion-button><ion-icon name="arrow-dropleft-circle"></ion-icon></ion-button><div style="padding-right: 5px; width: 30px;"><ion-input type="number"></ion-input></div><ion-button><ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
    			</ion-buttons></p>
    		</div>
    		</ion-label>
		</div>
		<br><div style="text-align: right;">
  			<ion-button style= "padding-right: 2px; padding-top: 5px; height: 30px; width: 70px;" color="warning">
  				<ion-label color="dark">Detail</ion-label></ion-button>

  				<ion-button style="padding-left: 2px; padding-right: 12px; padding-top: 5px; height: 30px; width: 85px;" color="warning">
				<ion-label color="dark">Bayar</ion-label></ion-button>

		<ion-item-divider>
		</ion-item-divider>

		</div>
	</div>

	<div style="padding-bottom: 10px">
			<p style="padding-left: 5px;"></p>
			<ion-avatar item-start style="position: relative; float: left; padding-left: 5px;">
				<img class="gambar" src="./assets/satepadang.jpg">
			</ion-avatar>
		<div style="position: relative; padding-top: 5px; padding-left: 70px">
    		<ion-label>
    		<b><p>Sate Gambus<ion-buttons style="position: relative; float: right;">
 				<ion-button>
    				<ion-icon style="font-size: 170%" name="trash" color="dark"></ion-icon>
  				</ion-button>
			</ion-buttons></p></b>
    		<div>
    			<p style="color: red">Rp. 15.000,-</p><p style="font-size: 12px;">Jumlah 1<ion-buttons style="position: relative; float: right;">
    				<ion-button><ion-icon name="arrow-dropleft-circle"></ion-icon></ion-button><div style="padding-right: 5px; width: 30px;"><ion-input type="number"></ion-input></div><ion-button><ion-icon name="arrow-dropright-circle"></ion-icon></ion-button>
    			</ion-buttons></p>
    		</div>
    		</ion-label>
		</div>
		<br><div style="text-align: right;">
  			<ion-button style= "padding-right: 2px; padding-top: 5px; height: 30px; width: 70px;" color="warning">
  				<ion-label color="dark">Detail</ion-label></ion-button>

  				<ion-button style="padding-left: 2px; padding-right: 12px; padding-top: 5px; height: 30px; width: 85px;" color="warning">
				<ion-label color="dark">Bayar</ion-label></ion-button>

		<ion-item-divider>
		</ion-item-divider>

		</div>
	</div>

</ion-content>