<ion-header>
  <ion-toolbar color="warning">
  </ion-tooolbar>
  <ion-toolbar color="warning">
  </ion-tooolbar>
  <ion-toolbar color="warning">
  </ion-tooolbar>
</ion-header>

<ion-content padding>
	<div style="text-align: center"><ion-label style="color: orange"> MASUK</ion-label></div>
	<ion-list>
		<ion-item>
			<ion-input type="Email" placeholder="Masukkan Email"></ion-input>
		</ion-item>

	</ion-list>
	
	<div style="text-align: center"><ion-button color="warning">RESET PASSWORD"</ion-button</div>
</ion-content>

